{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h1 class="cover-heading">IS about football club</h1>
    <p class="lead">On this IS you can execute queries and get another info about your information system</p>
    <p class="lead">
        {% if request.user.is_authenticated %}
            {% for model in models.items %}
                <a href="{{ model.1 }}" class="btn btn-lg btn-secondary">{{ model.0 }}</a>
            {% endfor %}
        {% else %}
            <a href="{% url 'login' %}" style="color:black;">Log into your account</a>
        {% endif %}

    </p>

{% endblock %}